@import "variables.less";
@import "utility.less";

.description-wrapper {
  .matrix-card();
  .description {
    .selectable();
    margin-top: 5px;
    height: 200px;
    overflow: auto;
    white-space: pre-wrap;
    word-break: break-all;
  }
}