@import "variables.less";
@import "utility.less";

.query-route-wrapper {
  .matrix-card();
  input[type=button] {
    padding: 8px 17px;
    font-size: 14px;
  }
  .title {
    cursor: pointer;
    @size: 15px;
    .toggled-icon {
      display: inline-block;
      height: @size;
      width: @size;
      border-width: 0 @size / 2 @size;
      border-style: solid;
      border-bottom-color: #479ea2;
      color: transparent;
      &.slided-up {
        border-width: @size @size / 2 0;
        border-top-color: #479ea2;
      }
    }
  }
  .query-route-panel {
    &.slidedUp {
      display: none;
    }
    .route-ends-display {
      .exchange-btn {
        display: block;
      }

      font-size: 0;
      & > * {
        font-size: @body-font-size;
      }

      .display {
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;
      }
      .route-ends {
        width: 60%;
        .end {
          font-size: 18px;
        }
      }

      .exchange-btn-wrapper {
        width: 40%;
      }
    }

    .control-btns {
      margin: 10px auto;
    }
    .query-result {
      white-space: pre-wrap;
      word-break: break-all;
    }
  }
}
