<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>biaoti: haimeizuone</title>
  </head>
  <body>
    <a href="https://vmatrix.org.cn">matrix</a>
    <textarea class="input-text"></textarea>
    <input type="button" class="input-btn" value="input">
    <div class="output-content" style="white-space: pre-wrap;"></div>
    <input type="button" class="readfile-btn" value="read a file">
    <div class="readfile-content" style="white-space: pre-wrap;"></div>
    <script>
      require('../js/index.js');
    </script>
  </body>
</html>
