<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travel in SYSU</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
  </head>
  <body>
    <h1 class="header">Travel in SYSU</h1>
    <div class="main">
      <div class="container map-container">
        <div class="cy-node-tooltip"></div>
        <div class="cy-src-tooltip cy-tooltip"></div>
        <div class="cy-dest-tooltip cy-tooltip"></div>
        <div id="cy-body"></div>
      </div>
      <div class="container panel-container">
        <div class="import-map-btn-wrapper">
          <input type="button" class="import-map-btn" value="导入地图">
        </div>
        <div class="description-wrapper">
          <div class="title">Travel in SYSU</div>
          <div class="description">中大赛艇</div>
        </div>
        <div class="query-route-wrapper">
          <div class="title">查询路线
            <span class="toggled-icon"></span>
          </div>
          <div class="query-route-panel">
            <div class="route-ends-display">
              <div class="display route-ends">
                <div class="route-src">
                  从 <span class="end">未指定</span>
                </div>
                <div class="route-dest">
                  到 <span class="end">未指定</span>
                </div>
              </div>
              <div class="display exchange-btn-wrapper">
                <input type="button" class="exchange-btn" value="对调">
              </div>
            </div>
            <div class="control-btns">
              <input type="button" class="query-route-btn query-walk-route-btn" value="步行">
              <input type="button" class="query-route-btn query-car-route-btn" value="驾车">
              <input type="button" class="clear-btn" value="清除">
            </div>
            <div class="query-result"></div>
          </div>
        </div>
      </div>
    </div>
    <script>
      require('../js/index.js');
    </script>
  </body>
</html>
